### Hi there 👋

I'm a developer/tinkerer, object-oriented programming advocate, and passionate about cloud technology and solutions around it.

#### Latest SAP Community Blog Posts

| No. | Title | Published On | Engagement |
| ---:| ----- | ------------ | ---------- |
{{#topBlogs}}
| {{number}} | **[{{title}}]({{link}})** | {{date}} | 👍 {{likes}} ・ 💬 {{comments}} |
{{/topBlogs}}

Click [here](sap-community.md) to see more!

[![](https://github.com/jcailan/jcailan/workflows/BUILD/badge.svg)](https://github.com/jcailan/jcailan/actions)