## SAP Community Blog Posts

| No. | Title | Published On | Engagement |
| ---:| --- | --- | --- |
{{#blogs}}
| {{number}} | **[{{title}}]({{link}})** | {{date}} | 👍 {{likes}} 💬 {{comments}} 💍 {{engaged}} |
{{/blogs}}